/*$primary:       #a9e5bb;
$secondary:     #fcf6b1;
$tertiary:      #f7b32b;
$quaternary:    #f72c25;
$quinary:       #2d1e2f;*/



$primary: #936fb2;
$secondary: #e8d2cd;
$tertiary: #e8d2cd;
$quaternary: #735186;
$quinary: #291e36;
$success:       green !default;
$info:          cyan !default;
$warning:       yellow !default;
$danger:        red !default;
$light:         lightgray !default;
$dark:          gray !default;

$serif-font:    'Alegreya SC', serif;
$sans-serif-font: 'Roboto', sans-serif;

$header-height: 20vh;